.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .navHeaderLeft,
  .navHeaderRight {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  .navHeaderLeft {
    :global {
      .ant-btn {
        padding: 4px 24px;

        .anticon {
          font-size: 20px;
        }
      }
    }
  }

  .navHeaderRight {
    .dropdown {
      :global {
        .ant-space {
          height: 36px;
          padding: 4px 15px;
          font-size: 16px;
          cursor: pointer;
          border-radius: 5px;
          transition: all 0.5s;

          &:hover {
            background-color: var(--theme-bg-color);
          }
        }

        .ant-dropdown-menu .ant-dropdown-menu-item {
          padding: 0;

          .ant-btn {
            display: flex;
            justify-content: flex-start;
            width: 100%;
          }
        }
      }
    }

    .fullScreen,
    .theme,
    .language {
      padding: 4px 15px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
