.main {
  width: 80%;
  cursor: pointer;
  border: 5px solid #ccc;
}

.section {
  cursor: pointer;
  border: 5px solid #ccc;
}

.div {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  cursor: pointer;
  border: 5px solid #ccc;
}
