.slotComp {
  .comp {
    padding: 10px;
    background-color: orange;

    :global {
      .aComp {
        padding: 10px;
        margin-top: 30px;
        background-color: gray;

        .bComp {
          padding: 10px;
          margin-top: 30px;
          background-color: skyblue;
        }
      }
    }

    .aComp {
      padding: 10px;
      margin-top: 30px;
      background-color: gray;

      .bComp {
        padding: 10px;
        margin-top: 30px;
        background-color: skyblue;
      }
    }
  }
}
