.customBtn {
  display: flex;
  width: 200px;
  height: 200px;
  font-size: 18px;
  font-weight: 900;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
