.dashboard {
  width: 100%;
  margin: 10px auto;
  border: 5px solid #ccc;

  .pushBtn {
    display: inline-block;
    padding: 6px;
    margin: 5px;
    cursor: pointer;
    border: 1px #d9d9d9 solid;
    border-radius: 5px;

    a {
      font-size: 14px;
      color: #000000e0;
    }
  }

  --active: var(--color-custom5);

  .active {
    color: var(--active);

    a {
      color: var(--active);
    }
  }
}
