.module_scss {
  padding: 15px;
  background: #f28d35;

  .container_scss {
    padding: 15px;
    background: #7b68ee;

    .main-scss {
      padding: 15px;
      background: #00bcd4;

      .sectionScss {
        &.wrap {
          padding: 15px;
          background: #a7ff9d;
        }
      }
    }
  }
}
