.module_css {
  padding: 15px;
  background: #f28d35;

  .container_css {
    padding: 15px;
    background: #7b68ee;

    .main-css {
      padding: 15px;
      background: #00bcd4;

      .sectionCss {
        &.wrap {
          padding: 15px;
          background: #a7ff9d;
        }
      }
    }
  }
}
