.portal {
  padding: 10px;
  font-size: 18px;
  border: #f40 2px solid;
}

.model {
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(106 173 255);
}

.portal_child1 {
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(255 126 119);
}
