$auto-size: 18px;
$auto-weight: 900;
$table-thead-color: #00ffdb;

$auto-bgColor: var(--color-custom1);
$auto-color: var(--color-custom10, #6a5acd);

$auto-color-custom1: var(--color-custom1, #f28d35);
$auto-color-custom2: var(--color-custom2, #ff6f61);
$auto-color-custom3: var(--color-custom3, #6a5acd);
$auto-color-custom4: var(--color-custom4, #00bcd4);
$auto-color-custom5: var(--color-custom5, #7b68ee);
$auto-color-custom6: var(--color-custom6, #ff1493);
$auto-color-custom7: var(--color-custom7, #3cb371);
$auto-color-custom8: var(--color-custom8, #ffd700);
$auto-color-custom9: var(--color-custom9, #ff6347);
$auto-color-custom10: var(--color-custom10, #e6e6fa);
